body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 8px black;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container p {
  text-align: center;
}

input,
textarea,
select,
button {
  margin: 5px 0;
  padding: 8px;
}

input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.273);
  width: 95%;
}

#tasks-container div {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.re {
  background-color: green;
  color: white;
  width: 40%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.re {
  margin-top: 10px;
}

.re:hover {
  background-color: rgba(18, 138, 80, 0.93);
  color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: rgb(48, 183, 228);
}

.p {
  color: rgba(0, 0, 0, 0.655);
}

@media (max-width: 600px) {
  .container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px white;
  }
}
