body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(216, 211, 211);
}

.header-desktop {
  padding: 5px 20px;
  color: white;
  background-color: black;
  border-bottom: 1px solid white;
}

.header-desktop h1 {
  font-size: 1em;
  font-family: monospace, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

nav .btn2 {
  padding: 5px 15px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

nav .btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: green;
}

nav .btn2:hover {
  text-decoration: underline;
  transform: scale(1.1);
  color: rgb(115, 162, 21);
}

nav .btn:hover {
  transform: scale(1.05);
  background-color: rgba(0, 128, 0, 0.864);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 4rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.filters {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters button {
  color: white;
  background-color: green;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

#task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#task-form button {
  color: white;
  background-color: green;
  border-radius: 10px;
  border: none;
}

#task-form button,
textarea,
input,
select {
  padding: 10px;
}

h2 {
  text-align: center;
}

.task-card {
  background-color: white;
  color: black;
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.task-card p {
  font-size: 1rem;
  margin: 1px 0;
}

.task-card button {
  color: white;
  background-color: green;
  border-radius: 5px;
  border: none;
  padding: 6px;
  margin: 10px 10px 0 0;
  text-transform: uppercase;
  font-size: 10px;
}

.task-card button:hover {
  transform: scale(1.05);
  background-color: rgba(0, 128, 0, 0.692);
  color: white;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px;
}

.header-mobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.905);
  box-shadow: 0 1px 4px white;
  padding: 0.7rem;
}

.header-mobile h1 {
  font-size: 1em;
  font-family: monospace, sans-serif;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
}

img {
  filter: invert(1) brightness(2);
  height: auto;
  width: 1.3rem;
}

.header-mobile button {
  background-color: transparent;
  border: none;
  color: orange;
  font-size: 0.8em;
  cursor: pointer;
}

.header-n {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 20px;
  flex-grow: 1;
  margin: 0 0 0 2rem;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .header-desktop {
    display: none;
  }

  .modal {
    top: 3rem;
  }

  .header-nav {
    display: none;
  }

  body {
    background-color: black;
  }

  .task-card {
    background-color: rgb(46, 42, 42);
    color: white;
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  .task-card button {
    background-color: green;
    color: white;
    font-weight: bolder;
    padding: 4px;
  }

  .task-card button:hover {
    padding: 5px;
  }
}

@media (min-width: 600px) {
  .header-mobile {
    display: none;
  }
}
